h1
    line-height: 64px

.card
    > .goto_prev
        position: absolute
        margin: 32px 0
        display: flex
        column-gap: 8px
        align-items: end

.grid
    display: grid
    grid-template-columns: 20% minmax(0, 1fr) 
    column-gap: 1px
    row-gap: 1px
    text-align: left
    list-style: none
    position: relative

    > li

        