.grid_two_cols
    display: grid
    grid-template-columns: 20% minmax(0, 1fr) 
    column-gap: 8px
    row-gap: 4px
    text-align: left

.list
    list-style: none
    > li
        > a
            text-decoration: none
            &:hover


.card
    @extend .grid_two_cols

.abillities
    display: grid
    grid-template-columns: auto auto

.past_stats
    display: grid
    grid-template-columns: auto auto


    > .stats
        display: grid
        grid-template-columns: auto auto


