.tabs
    list-style: none
    display: flex
    justify-content: left
    margin: 0
    padding: 0
    > li
        padding: 4px 8px
        &:hover
            background: var(--accent-bg)
        &.selected
            background: var(--accent-border)